


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color:#F0F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Fredoka, 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}


nav {
	width: 100vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
    position: fixed;
    z-index: 6;
    box-shadow: 0 1px 5px 0 rgb(41 85 115 / 21%);
}

.nav-content {
	width: 96vw;
	height: 8vh;
	background-color: transparent;
	display: block;
	margin-top: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#logo {
	float: left;
	padding: 8px 0px 8px 20px;
	display: flex;
	align-items: center;
    width:8vw;
}

#logo img {
	width: 80px;
	margin-right: 15px;
	align-items: center;
}

#logo h1 {
	color: rgb(83, 81, 81);
	font-family: sans-serif, Arial, Helvetica;
	position: relative;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
}

nav ul {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0px;
}

nav ul li {
	padding: 0px 4px;
	height: 100%;
	display: flex;
	align-items: center;
	transition: 0.2s;
}

nav ul li .box{
    border-radius: 20px;
    height: 5vh;
    width: 15vw;
    border: 1px solid #C1E4FE;
    background-color: #EAF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li .box:hover{
    background-color:#daeeff;
}

nav ul li .box input{
    width: 90%;
    height: 100%;
    border: 0;
    background-color: transparent;
    outline: 0;
}

.box-after-click{
    border-radius: 20px;
    height: 5vh;
    width: 15vw;
    border: 1px solid #679dc7;
    background-color: #EAF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 4px 2px #86bff1;
}
nav ul li .box-after-click input{
    width: 90%;
    height: 100%;
    border: 0;
    background-color: transparent;
    outline: 0;
}

nav ul li a {
	text-decoration: none;
	color: rgb(85, 84, 84);
	font-family:Fredoka,'Poppins', sans-serif;
	font-style: normal;
	font-size: 16px;
	border-radius: 0px;
	padding: 10px 10px;
	transition: .3s ease-out;
}

nav ul li a:hover {
	opacity: 0.7;
	border-radius: 10px;
    color: #3899EC;
}

li.active {
    background-color: #F4FAFE;
    border: 1px solid #d0dde6;
}
li.active a:hover{
    color: rgb(85, 84, 84);
}
a.active:hover{
    border: 2px solid rgb(83, 81, 81);
    border-bottom: 2px solid blanchedalmond;
    padding-bottom: 10px;
    margin-top: 10px;
    opacity: 1;
    border-radius: 0;

}

nav ul li:hover {
	transform: scale(1);
}

.burger {
	float: right;
	padding: 25px 40px 25px 0px;
	display: none;
}

.burger div {
	display: flex;
	width: 25px;
	height: 3px;
	background-color: rgb(83, 81, 81);
	margin: 5px;
}


.first-list{
    float: left;
}
.second-list{
    float: right;
}









.content-hero{
    width: 100vw;
    display: inline-block;
}

.navbar-left{
    position: fixed;
    top: 8vh;
    width: 100vw;
    height: 8vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-left .buttom{
    width: 60%;
    height: 8vh;
    display: flex;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50% 100px; 
    border-bottom-right-radius: 50% 100px; 
    box-shadow: 0 1px 5px 0 rgb(41 85 115 / 21%);
}

.navbar-left .buttom div{
    height: 8vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-left .buttom div:hover{
    background-color: #252a35;
    color: white;
}
.navbar-left .buttom div.active{
    background-color: #F4FAFE;
}
.navbar-left .buttom div button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 540;
    background-color: transparent;
    color: #252a35;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 540;
    border: 0;
    cursor: pointer;
}
.navbar-left .buttom div button:hover{
    color: #6fb7eb;
    background-color: white;
}
.navbar-left .buttom .active button{
    color: #252a35;
    border-left: 1px solid #dce0eb;
    border-right: 1px solid #dce0eb;
}
.navbar-left .buttom div.active button:hover{
    background-color: #F4FAFE;
}










.cotent-right{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100vw;
    float: right;
    margin-top: 16vh;
    align-items: center;
    justify-content: center;
}

.content-home{
    display: flex;
    width:  100vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    gap: 15px;
}

.voir-trdv-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #131720;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    width: 250px;
    height: 40px;
    transition: all 200ms ease-in-out;
}
.voir-trdv-btn:hover{
    background-color: #292f3d;
}

.voir-trdv-btn button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 540;
    font-size: 18px;
    color: #f8faed;
    background-color: transparent;
    border: 0;
    cursor: pointer;

}













.form-container{
    width: 30vw;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: none;
}
form{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 550px;
	background-color: transparent;
    gap: 20px;
}

.btns-choix {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	gap: 18px;
	justify-content: center;
	border-radius: 5px;
	margin-top: 0px;
	box-shadow: 0 0px 5px 0 rgb(41 85 115 / 21%);
}

.btns-title h1{
	color: rgb(0, 0, 0);
	font-size: 25px;
	padding-bottom: 10px;
    margin-top: 40px;
}

.radio-div h1 {
	color: rgb(85, 84, 84);
	color: #08A5DC;
	font-size: 25px;
	margin-left: 20px;
	padding-bottom: 10px;
}

table {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

table td {
	width: 150px;
}

.radio-div {
	color: rgb(70, 66, 66);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 150px;
	height: 120px;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
}

.inputs {
	display: none;
	flex-direction: column;
	width: 500px;
	background-color: #ffffff;
	align-items: center;
	gap: 0px;
	justify-content: center;
	border-radius: 10px;
	margin-top: 10px;
	box-shadow: 0 0px 5px 0 rgb(41 85 115 / 50%);
	z-index: 5;
	margin-bottom: 5px;
}

.container-delete{
	width: 500px;
	height: 40px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
.container-delete .empty-message{
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.container-delete .empty-message .red-empty{
	color: red;
	font-size: 18px;
}

.content-delete {
	width: 50px;
	height: 50px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(0%,8%);
}

.box {
	border-bottom: 0.4px solid rgb(153, 147, 147);
	border-radius: 5px;
	width: 420px;
	height: 50px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.text-avant-input {
	font-size: 20px;
	color: black;
	font-weight: 600;
	width: 150px;
	position: static;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
}

/* HIDE RADIO */

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */

[type=radio] + .radio-div {
	cursor: pointer;
	float: left;
}

[type=radio] + .content-delete {
	cursor: pointer;
	float: left;
}

/* CHECKED STYLES */
[type=radio]:checked + .content-delete {
	border-bottom: 4px solid rgb(0, 0, 0);
}


[type=radio]:checked + .radio-div{
	background-color: #cef2ff;
}

.inputs input[type=text] {
	border: 0;
	height: 75%;
	width: 90%;
	float: right;
	outline: 0;
	font-weight: 400;
	font-size: 20px;
	color: black;
	background-color: transparent;
}

::placeholder {
	color: rgb(182, 182, 182);
	color: #91A7B8;
}

.btn {
	position: static;
	cursor: pointer;
	outline: none;
	border: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #4CAF50;
	padding: 0px;
	color: #ffffff;
	font-weight: 600;
	margin-top: 20px;
	line-height: 90%;
	border-radius: 0.2rem;
	flex-shrink: 0;
	min-height: 4.12rem;
	font-size: 1.4rem;
	max-width: 95%;
	min-width: 85%;
	margin-bottom: 15px;
}
.search-btn{
	width: 32px;
	fill: #ffffff;
}
.svg-input{
	height: 32px;
	fill: #ffffff;
	fill: rgb(182, 182, 182);
	stroke: rgb(156, 155, 155);
}
















.container-medcins{
    display: none;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    background-color: transparent;
    padding: 0;
}
.red{
    color: red;
}

.table-medecin{
    border-collapse: collapse;
    box-shadow: 0 0 5px 0 rgb(41 85 115 / 21%);
}

.table-medecin tr{
    border-radius: 0px;
    width: 75vw;
    background-color: #fff;
    margin-top: 0px;
    border-bottom: 2px solid #F0F4F7;
    outline: 2px;
    cursor: pointer;
    color: #162D3D;
}
.table-medecin tr:hover{
    background-color: #eef2f5;
}
.table-medecin td{
    height: 6vh;
}
.table-medecin .table-top,
.table-medecin .table-top:hover{
    background-color: #DAEFFE;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-width: 10vw;
}

.content-img{
    display: flex;
    width: 6vh;
    height: 6vh;
    align-items: center;
    justify-content: center;
    background-color: #162D3D;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 26px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 50%;
    
}
.medcin-infos{
    display: flex;
    background-color: transparent;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    min-width: 20vw;
}

.np {
    font-size: 20px;
    font-family:monospace;
}
.card-rdv {
    font-size: 18px;
    width: 30vw;
}

.right{
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:15vw;
    background-color: transparent;
}

.btn {
    cursor: pointer;
    color: white;
    transition: all 200ms ease-in-out;
    border: 0;
}






.content-rdv{
    display: none;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    background-color: transparent;
    gap: 15px;
}

.header-rdv-container{
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 40px;
    background-color: transparent;
    margin-bottom: 10px;
}

.header-rdv-container h2{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #162D3D;
}
.card-rdv{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
    width: 96vw;
    height: 20vh;
    box-shadow: 0 0 5px 0 rgb(41 85 115 / 21%);
}
.card-rdv-info-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: transparent;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.card-rdv-date-info-centre{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}
.card-rdv-info-right{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}
.annuler-rdv-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #e6edff;
    border-radius: 30px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    transition: all 200ms ease-in-out;
    border: 0;
}
.annuler-rdv-btn:hover {
    background-color: rgb(106, 194, 55);
    color: white;
}































.content-rdv-time{
    display: none;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 15px;
}
.horaire{
    background-color: transparent;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-horaire{
    height: 60vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.suiv-time-btn{
    max-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    right: 7vw;

}

.prec-time-btn{
    max-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    left: 8vw;

}



.rows{
    display: flex;
    background-color: transparent;
    width: 90vw;
    align-items: center;
    justify-content: center;
}
.rows label{
    display: flex;
    flex-direction: column;
}
.rows div{
    display: flex;
    width: 10vw;
}

.rows ul{
    width: 10vw;
    height: 53vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #616161;
}
.rows ul li{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:rgb(33, 199, 199);
    font-weight: 400;
}
.rows ul li:hover{
    background-color: #F4F4F4;
    color: #616161;
}

.rows ul .list-header{
    margin-bottom: 10px;
    color: rgb(83, 81, 81);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rows ul .list-header:hover{
    color: rgb(83, 81, 81);
    background-color: transparent;
    cursor:default;
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */

[type=radio] + .h-d {
	cursor: pointer;
	float: left;
}

/* CHECKED STYLES */

[type=radio]:checked + .h-d{
	border: 1px solid #616161;
    background-color: #F4F4F4;
}

.h-d{
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}